DataFeeds/DataFeedsTestClient/Service References/ServiceReference1/DataFeedsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataFeedsService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataFeedsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:47094/DataFeedsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Security.Policy" />
  <xs:import schemaLocation="http://localhost:47094/DataFeedsService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfDataFeed">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataFeed" nillable="true" type="tns:DataFeed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataFeed" nillable="true" type="tns:ArrayOfDataFeed" />
  <xs:complexType name="DataFeed">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Security.Policy" minOccurs="0" name="Image" nillable="true" type="q1:Url" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Keywords" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Security.Policy" minOccurs="0" name="Link" nillable="true" type="q3:Url" />
      <xs:element minOccurs="0" name="PublishTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataFeed" nillable="true" type="tns:DataFeed" />
</xs:schema>